node_modules
node_modules/
.shopify/
.DS_Store
*.log
.env*
.env*
.env*
.logs/
node_modules/
dist/
build/
.github/
assets/**/*.min.css
assets/**/*.min.js
assets/**/vendor-**/
assets/vendor-*.css
assets/vendor-*.js
